In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
cust_df=pd.read_csv(r"C:\Users\hp\Downloads\customer_shopping_behavior.csv")

In [3]:
cust_df

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,No,33,Venmo,Quarterly

In [4]:
cust_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [5]:
cust_df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3863.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750065,25.351538
std,1125.977353,15.207589,23.685392,0.716983,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.800000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [6]:
cust_df.nunique()

Customer ID               3900
Age                         53
Gender                       2
Item Purchased              25
Category                     4
Purchase Amount (USD)       81
Location                    50
Size                         4
Color                       25
Season                       4
Review Rating               26
Subscription Status          2
Shipping Type                6
Discount Applied             2
Promo Code Used              2
Previous Purchases          50
Payment Method               6
Frequency of Purchases       7
dtype: int64

In [7]:
cust_df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [8]:
cust_df['Review Rating']=cust_df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [9]:
cust_df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [10]:
cust_df.columns=cust_df.columns.str.lower()
cust_df.columns=cust_df.columns.str.replace(' ','_')

In [11]:
cust_df=cust_df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})
cust_df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [12]:
cust_df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,3890,3891,3892,3893,3894,3895,3896,3897,3898,3899
customer_id,1,2,3,4,5,6,7,8,9,10,...,3891,3892,3893,3894,3895,3896,3897,3898,3899,3900
age,55,19,50,21,45,46,63,27,26,57,...,35,36,35,21,66,40,52,46,44,52
gender,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male,...,Female,Female,Female,Female,Female,Female,Female,Female,Female,Female
item_purchased,Blouse,Sweater,Jeans,Sandals,Blouse,Sneakers,Shirt,Shorts,Coat,Handbag,...,Shirt,Dress,Jewelry,Hat,Skirt,Hoodie,Backpack,Belt,Shoes,Handbag
category,Clothing,Clothing,Clothing,Footwear,Clothing,Footwear,Clothing,Clothing,Outerwear,Accessories,...,Clothing,Clothing,Accessories,Accessories,Clothing,Clothing,Accessories,Accessories,Footwear,Accessories
purchase_amount,53,64,73,90,49,20,85,34,97,31,...,81,30,86,64,78,28,49,33,77,81
location,Kentucky,Maine,Massachusetts,Rhode Island,Oregon,Wyoming,Montana,Louisiana,West Virginia,Missouri,...,Nebraska,Colorado,Michigan,Massachusetts,Connecticut,Virginia,Iowa,New Jersey,Minnesota,California
size,L,L,S,M,M,M,M,L,L,M,...,XL,L,L,L,L,L,L,L,S,M
color,Gray,Maroon,Maroon,Maroon,Turquoise,White,Gray,Charcoal,Silver,Pink,...,Green,Peach,Indigo,White,White,Turquoise,White,Green,Brown,Beige
season,Winter,Winter,Spring,Spring,Spring,Summer,Fall,Winter,Summer,Spring,...,Winter,Winter,Summer,Fall,Spring,Summer,Spring,Spring,Summer,Spring
review_rating,3.1,3.1,3.1,3.5,2.7,2.9,3.2,3.2,2.6,4.8,...,2.6,4.7,3.5,3.3,3.9,4.2,4.5,2.9,3.8,3.1
subscription_status,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,No,No,No,No,No,No,No,No,No,No
shipping_type,Express,Express,Free Shipping,Next Day Air,Free Shipping,Standard,Free Shipping,Free Shipping,Express,2-Day Shipping,...,Standard,Free Shipping,Standard,Store Pickup,2-Day Shipping,2-Day Shipping,Store Pickup,Standard,Express,Store Pickup
discount_applied,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,No,No,No,No,No,No,No,No,No,No
promo_code_used,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,No,No,No,No,No,No,No,No,No,No
previous_purchases,14,2,23,49,31,14,49,19,8,4,...,33,6,5,29,44,32,41,24,24,33
payment_method,Venmo,Cash,Credit Card,PayPal,PayPal,Venmo,Cash,Credit Card,Venmo,Cash,...,Debit Card,Bank Transfer,PayPal,Bank Transfer,Credit Card,Venmo,Bank Transfer,Venmo,Venmo,Venmo
frequency_of_purchases,Fortnightly,Fortnightly,Weekly,Weekly,Annually,Weekly,Quarterly,Weekly,Annually,Quarterly,...,Annually,Quarterly,Fortnightly,Bi-Weekly,Every 3 Months,Weekly,Bi-Weekly,Quarterly,Weekly,Quarterly

In [13]:
(cust_df['discount_applied']==cust_df['promo_code_used']).all()

np.True_

In [14]:
cust_df.drop(columns='promo_code_used',inplace=True)

In [15]:
cust_df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,3890,3891,3892,3893,3894,3895,3896,3897,3898,3899
customer_id,1,2,3,4,5,6,7,8,9,10,...,3891,3892,3893,3894,3895,3896,3897,3898,3899,3900
age,55,19,50,21,45,46,63,27,26,57,...,35,36,35,21,66,40,52,46,44,52
gender,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male,...,Female,Female,Female,Female,Female,Female,Female,Female,Female,Female
item_purchased,Blouse,Sweater,Jeans,Sandals,Blouse,Sneakers,Shirt,Shorts,Coat,Handbag,...,Shirt,Dress,Jewelry,Hat,Skirt,Hoodie,Backpack,Belt,Shoes,Handbag
category,Clothing,Clothing,Clothing,Footwear,Clothing,Footwear,Clothing,Clothing,Outerwear,Accessories,...,Clothing,Clothing,Accessories,Accessories,Clothing,Clothing,Accessories,Accessories,Footwear,Accessories
purchase_amount,53,64,73,90,49,20,85,34,97,31,...,81,30,86,64,78,28,49,33,77,81
location,Kentucky,Maine,Massachusetts,Rhode Island,Oregon,Wyoming,Montana,Louisiana,West Virginia,Missouri,...,Nebraska,Colorado,Michigan,Massachusetts,Connecticut,Virginia,Iowa,New Jersey,Minnesota,California
size,L,L,S,M,M,M,M,L,L,M,...,XL,L,L,L,L,L,L,L,S,M
color,Gray,Maroon,Maroon,Maroon,Turquoise,White,Gray,Charcoal,Silver,Pink,...,Green,Peach,Indigo,White,White,Turquoise,White,Green,Brown,Beige
season,Winter,Winter,Spring,Spring,Spring,Summer,Fall,Winter,Summer,Spring,...,Winter,Winter,Summer,Fall,Spring,Summer,Spring,Spring,Summer,Spring
review_rating,3.1,3.1,3.1,3.5,2.7,2.9,3.2,3.2,2.6,4.8,...,2.6,4.7,3.5,3.3,3.9,4.2,4.5,2.9,3.8,3.1
subscription_status,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,No,No,No,No,No,No,No,No,No,No
shipping_type,Express,Express,Free Shipping,Next Day Air,Free Shipping,Standard,Free Shipping,Free Shipping,Express,2-Day Shipping,...,Standard,Free Shipping,Standard,Store Pickup,2-Day Shipping,2-Day Shipping,Store Pickup,Standard,Express,Store Pickup
discount_applied,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,No,No,No,No,No,No,No,No,No,No
previous_purchases,14,2,23,49,31,14,49,19,8,4,...,33,6,5,29,44,32,41,24,24,33
payment_method,Venmo,Cash,Credit Card,PayPal,PayPal,Venmo,Cash,Credit Card,Venmo,Cash,...,Debit Card,Bank Transfer,PayPal,Bank Transfer,Credit Card,Venmo,Bank Transfer,Venmo,Venmo,Venmo
frequency_of_purchases,Fortnightly,Fortnightly,Weekly,Weekly,Annually,Weekly,Quarterly,Weekly,Annually,Quarterly,...,Annually,Quarterly,Fortnightly,Bi-Weekly,Every 3 Months,Weekly,Bi-Weekly,Quarterly,Weekly,Quarterly

In [16]:
labels=('Young Adult', 'Adult', 'Middle-aged', 'Senior') 
cust_df['age_group']=pd.qcut(cust_df['age'],q=4,labels=labels)

In [17]:
cust_df[['age','age_group']]

      age    age_group
0      55  Middle-aged
1      19  Young Adult
2      50  Middle-aged
3      21  Young Adult
4      45  Middle-aged
...   ...          ...
3895   40        Adult
3896   52  Middle-aged
3897   46  Middle-aged
3898   44        Adult
3899   52  Middle-aged

[3900 rows x 2 columns]

In [18]:
pd.qcut(cust_df['age'], q=4)

0         (44.0, 57.0]
1       (17.999, 31.0]
2         (44.0, 57.0]
3       (17.999, 31.0]
4         (44.0, 57.0]
             ...
3895      (31.0, 44.0]
3896      (44.0, 57.0]
3897      (44.0, 57.0]
3898      (31.0, 44.0]
3899      (44.0, 57.0]
Name: age, Length: 3900, dtype: category
Categories (4, interval[float64, right]): [(17.999, 31.0] < (31.0, 44.0] < (44.0, 57.0] < (57.0, 70.0]]

In [19]:
cust_df['frequency_of_purchases'].unique()

array(['Fortnightly', 'Weekly', 'Annually', 'Quarterly', 'Bi-Weekly',
       'Monthly', 'Every 3 Months'], dtype=object)

In [20]:
frequency_mapping={'Fortnightly':14,
                   'Weekly':7,
                   'Annually':365,
                   'Quarterly':90,
                   'Bi-Weekly':14,
                   'Monthly':30,
                   'Every 3 Months':90}
cust_df['days_frequency']=cust_df['frequency_of_purchases'].map(frequency_mapping)

In [21]:
cust_df[['days_frequency','frequency_of_purchases']]

      days_frequency frequency_of_purchases
0                 14            Fortnightly
1                 14            Fortnightly
2                  7                 Weekly
3                  7                 Weekly
4                365               Annually
...              ...                    ...
3895               7                 Weekly
3896              14              Bi-Weekly
3897              90              Quarterly
3898               7                 Weekly
3899              90              Quarterly

[3900 rows x 2 columns]

In [29]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\hp\appdata\local\programs\python\python314\lib\site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

In [23]:
%pip install cryptography

Requirement already satisfied: cryptography in c:\users\hp\appdata\local\programs\python\python314\lib\site-packages (46.0.3)
Requirement already satisfied: cffi>=2.0.0 in c:\users\hp\appdata\local\programs\python\python314\lib\site-packages (from cryptography) (2.0.0)
Requirement already satisfied: pycparser in c:\users\hp\appdata\local\programs\python\python314\lib\site-packages (from cffi>=2.0.0->cryptography) (2.23)
Note: you may need to restart the kernel to use updated packages.

In [24]:
pip install mysqlclient

Collecting mysqlclient
  Using cached mysqlclient-2.2.7.tar.gz (91 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (pyproject.toml): started
  Building wheel for mysqlclient (pyproject.toml): finished with status 'error'
Failed to build mysqlclient
Note: you may need to restart the kernel to use updated packages.

  error: subprocess-exited-with-error

  Building wheel for mysqlclient (pyproject.toml) did not run successfully.
  exit code: 1

  [77 lines of output]
  C:\Users\hp\AppData\Local\Temp\pip-build-env-f862a6vk\overlay\Lib\site-packages\setuptools\config\_apply_pyprojecttoml.py:82: SetuptoolsDeprecationWarning: `project.license` as a TOML table is deprecated
  !!

          ********************************************************************************
          Please use a simple string containing a SPDX expression for `project.license`. You can also use `project.license-files`. (Both options available on setuptools>=77.0.0).

          By 2027-Feb-18, you need to update your project and remove deprecated calls
          or your builds will no longer be supported.

          See https://packaging.python.org/en/latest/guides/writing-pyproject-toml/#license for details.
          ********************************************************************************

  !!
    corresp(dist, value, root_dir)
  C:\Users\hp\AppData\Local\Temp\pip-build-env-f862a6vk\overlay\Lib\site-packages\setuptools\config\_apply_pyprojecttoml.py:61: SetuptoolsDeprecationWarning: License classifiers are deprecated.
  !!

          ********************************************************************************
          Please consider removing the following classifiers in favor of a SPDX license expression:

          License :: OSI Approved :: GNU General Public License v2 or later (GPLv2+)

          See https://packaging.python.org/en/latest/guides/writing-pyproject-toml/#license for details.
          ********************************************************************************

  !!
    dist._finalize_license_expression()
  C:\Users\hp\AppData\Local\Temp\pip-build-env-f862a6vk\overlay\Lib\site-packages\setuptools\dist.py:765: SetuptoolsDeprecationWarning: License classifiers are deprecated.
  !!

          ********************************************************************************
          Please consider removing the following classifiers in favor of a SPDX license expression:

          License :: OSI Approved :: GNU General Public License v2 or later (GPLv2+)

          See https://packaging.python.org/en/latest/guides/writing-pyproject-toml/#license for details.
          ********************************************************************************

  !!
    self._finalize_license_expression()
  # Options for building extension module:
    library_dirs: ['C:/mariadb-connector\\lib\\mariadb', 'C:/mariadb-connector\\lib']
    libraries: ['kernel32', 'advapi32', 'wsock32', 'shlwapi', 'Ws2_32', 'crypt32', 'secur32', 'bcrypt', 'mariadbclient']
    extra_link_args: ['/MANIFEST']
    include_dirs: ['C:/mariadb-connector\\include\\mariadb', 'C:/mariadb-connector\\include\\mysql', 'C:/mariadb-connector\\include']
    extra_objects: []
    define_macros: [('version_info', (2, 2, 7, 'final', 0)), ('__version__', '2.2.7')]
  running bdist_wheel
  running build
  running build_py
  creating build\lib.win-amd64-cpython-314\MySQLdb
  copying src\MySQLdb\connections.py -> build\lib.win-amd64-cpython-314\MySQLdb
  copying src\MySQLdb\converters.py -> build\lib.win-amd64-cpython-314\MySQLdb
  copying src\MySQLdb\cursors.py -> build\lib.win-amd64-cpython-314\MySQLdb
  copying src\MySQLdb\release.py -> build\lib.win-amd64-cpython-314\MySQLdb
  copying src\MySQLdb\times.py -> build\lib.win-amd64-cpython-314\MySQLdb
  copying src\MySQLdb\_exceptions.py -> build\lib.win-amd64-cpython-314\MySQLdb
  copying src\MySQLdb\__init__.py -> build\lib.win-amd64-cpython-314\MySQLdb
  creating build\lib.win-amd64-cpython-314\MySQLdb\constants
  copying src\MySQLdb\constants\CLIENT.py -> build\lib.win-amd64-cpython-314\MySQLdb\constants
  copying src\MySQLdb\constants\CR.py -> build\lib.win-amd64-cpython-314\MySQLdb\constants
  copying src\MySQLdb\constants\ER.py -> build\lib.win-amd64-cpython-314\MySQLdb\constants
  copying src\MySQLdb\constants\FIELD_TYPE.py -> build\lib.win-amd64-cpython-314\MySQLdb\constants
  copying src\MySQLdb\constants\FLAG.py -> build\lib.win-amd64-cpython-314\MySQLdb\constants
  copying src\MySQLdb\constants\__init__.py -> build\lib.win-amd64-cpython-314\MySQLdb\constants
  running egg_info
  writing src\mysqlclient.egg-info\PKG-INFO
  writing dependency_links to src\mysqlclient.egg-info\dependency_links.txt
  writing top-level names to src\mysqlclient.egg-info\top_level.txt
  reading manifest file 'src\mysqlclient.egg-info\SOURCES.txt'
  reading manifest template 'MANIFEST.in'
  adding license file 'LICENSE'
  writing manifest file 'src\mysqlclient.egg-info\SOURCES.txt'
  copying src\MySQLdb\_mysql.c -> build\lib.win-amd64-cpython-314\MySQLdb
  running build_ext
  building 'MySQLdb._mysql' extension
  error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
  ERROR: Failed building wheel for mysqlclient
error: failed-wheel-build-for-install

Failed to build installable wheels for some pyproject.toml based projects

mysqlclient

In [32]:
from sqlalchemy import create_engine

user='root'
password=7275001553
host='localhost'
port=3306
database='customer'
               

engine= create_engine(f"mysql+pymysql://root:7275001553@localhost:3306/customer")

table_name='behaviour'
cust_df.to_sql(table_name,engine,if_exists='replace',index=False)
print('data loaded in table',table_name,'and database',database)

data loaded in table behaviour and database customer